@charset "utf-8";

/* Scrollbar 전체 영역 */
::-webkit-scrollbar {
    width: 17px;
    /* 세로축 스크롤바 폭 너비 */
}

::-webkit-scrollbar-thumb {
    background: #2AF563;

    /* 스크롤바 막대 테두리 설정  */
    border-radius: 12px 12px 12px 12px;
}
    
::-webkit-scrollbar-thumb:hover {
    background-color: #82f3a2;
}

/* 스크롤이 움직이는 뒷 배경 */
::-webkit-scrollbar-track {
    background: #95959550;
    /* 스크롤바 뒷 배경 색상 */
}

/* 마우스 텍스트 드래그 효과 */
::selection {
		background-color: #2AF563;
		color: white;
	}

html {
    --s: 100px;
    /* control the size */

    --_g: #0000 90deg, #e7e7e7 0;
    background:
        conic-gradient(from 90deg at 2px 2px, var(--_g)),
        conic-gradient(from 90deg at 1px 1px, var(--_g));
    background-size: var(--s) var(--s), calc(var(--s)/2) calc(var(--s)/2);
    scroll-behavior: smooth;
}

html, body {
	height: 100%;
}
a {
    color: black;
    text-decoration: none;
}

header {
    font-family: 'LINESeedKR-Rg';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    z-index: 999;
}

header ul {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

header ul li img {
    width: 40px;
}

header ul li:nth-child(3) {
    width: 100px;
    height: 30px;
    border: solid 1px black;
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
}

header ul li .gnb {
    padding: 0;
    width: 200px;
    display: flex;
    justify-content: space-around;
}

header ul li .gnb li {
    position: relative;
    width: 100px;
    font-size: 18px;

    text-align: center;
    padding-bottom: 2px;
    font-weight: 300;


}

header ul li .gnb li::after {
    content: '';
    width: 0%;
    height: 2px;
    position: absolute;
    background-color: #1A1818;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s;
}

.gnb li:hover:after,
.gnb li:focus:after {
    width: 60%;
}

header ul li:nth-child(3):hover {
    background-color: black;
}
header ul li:nth-child(3):hover a{
    color: white;
}

/**** 메인 ****/

main {
    font-family: 'LINESeedKR-Rg';
    word-break: keep-all;
}

main .main_img .img_txt{
    font-family: 'LINESeedKR-Bd';
    font-size: 24px;
    color: #838383;
    text-align: left;
    margin-left: 310px;
    margin-bottom: 7px;
}

main .box{
    margin: auto;
    margin-top: 50px;
    /* margin-left: 255px; */
    margin-left: 15.9375rem;
    margin-right: 15.9375rem;
}

main .head_line .sub{
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    
}

main .head_line .sub li{
    font-family: 'LINESeedKR-Bd';
    height: 50px;
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}


main .head_line .sub li ul li{
    font-family: 'LINESeedKR-Rg';
    font-size: 20px;  
}

/* 메인 이미지 */
.main_img{
    margin-top: 100px;
    text-align: center;
}
.main_img img{
    width: 1280px;
    object-fit: cover;
}

/*기본 폰트크기 설정*/

h2{
    font-size: 48px;
    margin-bottom: 30px;
    font-family: 'MiConv.com__Fontspring-DEMO-tghaidogrotesk-black';
    font-weight: bold;
}

h3{
    font-size: 28px;
    margin-bottom: 15px;
    font-family: 'LINESeedKR-Bd';
}
h4{
    font-size: 22px;
    line-height: 1.7;
}

/*공통 스타일 밑줄 효과*/
.highlight{
  display: inline-block; 
  position: relative;
  
}
.highlight:after{
  content:"";
  width:100%;
  height: 30px;
  display: inline-block;
  background: #a1fda5;
  position: absolute;
  bottom:0;
  left:0;
  z-index:-1;
  transition: 0.2s all;
}

.highlight2{
  display: inline-block; 
  position: relative;
}
.highlight2:after{
  content:"";
  width:100%;
  height: 13px;
  display: inline-block;
  background: #fdefa1;
  position: absolute;
  bottom:10px;
  left:0;
  z-index:-1;
  transition: 0.2s all;
}
/* body */

.overview{
    margin-top: 200px;
    margin-left: 330px;
    margin-bottom: 150px;
}
.overview h4{
    width: 1150px;
}



.timeline{
    background-color: #1A1818;
    height: 650px;
    
}
.timeline h2{
    text-align: left;
    padding-top: 100px;
    margin-left: 330px;
    margin-bottom: 100px;
    color: white;
}
.timeline img{
    margin-left: 330px;
}

.responsibilities{
    margin-top: 150px;
    margin-left: 330px;
    margin-bottom: 150px;
}

.responsibilities h2{
    margin-bottom: 100px;
}
.responsibilities ul h4:nth-of-type(1){
    margin-bottom: 50px;
}


.design{
    margin-top: 150px;
    margin-left: 330px;
    margin-bottom: 150px;
}

.design h2{
    margin-bottom: 100px;
}

.design > div{
    margin-bottom: 150px;
}

.design .keyword .txt{
    display: flex;
    gap: 80px;
}

.design .type h4{
    width: 60%;
}



.design .container .colors{
    width: 58%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}

.design .container h3{
    margin-bottom: 45px;
}

.design .container .colors .color{
   width: 130px; height: 130px;
   border-radius: 20px;
}
.design .container .colors .color1{
    background-color: #FFC627;
    color: white;
}
.design .container .colors .color2{
    background-color: #EB0028;
    color: white;
}
.design .container .colors .color3 {
    background-color: #0070CD;
    color: white;
}
.design .container .colors .color4 {
    background-color: #00396F;
    color: white;
    margin-right: 60px;
}
.design .container .colors .color5 {
    background-color: #151515;
    color: white;
}

.design .container .colors .color ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.design .container .colors .color ul li:nth-child(1){
    font-size: 18px;
    font-weight: 700;
}

.publising{
    background-color: #1A1818;
    
}
.publising h2{
    color: #2AF563;
    padding-top: 150px;
}

.publising h4{
    font-family: 'LINESeedKR-Th';
}

.publising_txt{
    color: white;
    margin-top: 150px;
    margin-left: 330px;
    padding-bottom: 100px;
    position: relative;
}
.publising_txt ul{
    padding-left: 15px;
}
.publising_txt ul li{
    list-style:square;
}

.publising_txt .site h3{
    width: 230px;
    height: 230px;
    border: solid 1px #2AF563;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    
    text-align: center;
    font-size: 28px;
    position: absolute;
    left: 60%;
    top: 70%;
    transform: translate(-50%, -50%);
    transition: 1s;
}
.publising_txt .site h3 a{
    color: #2AF563;
    display: inline-block;
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    height: 100%;
}
.publising_txt .site h3:hover{
    background-color: #2AF563;
    color: #2AF563;
}
.publising_txt .site h3:hover a{
    color: #1A1818;
}


.Problem{
    background-color: #1A1818;
    color: white;
    padding-bottom: 150px;
}
.Problem .solution{
    margin-left: 330px;
}


.Problem .solution h2{
    color: #2AF563;
    margin-bottom: 100px;
    padding-top: 150px;
}

.Problem h4{
    font-family: 'LINESeedKR-Th';
}

.Problem .solution .solving h4:nth-child(1){
    font-family: 'LINESeedKR-Rg';
    margin-bottom: 10px;
}

.Problem .solution .solving h4:nth-child(2){
    width: 55%;
}

.Problem .solution .solving{
    margin-bottom: 150px;

}

.Problem .solution .solving .site{
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
}

.Problem .solution .solving .site a{
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
 
}

.Problem .solution .solving .site a span{
    color: white;
    font-size: 30px;
}
.reveiw{
    background-color: #1A1818;
    color: white;
}

.reveiw h2{
    color: #2AF563;
    margin-left: 330px;
}

.reveiw .part{
    padding-top: 100px;
    margin-bottom: 50px;
    margin-left: 330px;
}

.reveiw .part h4{
    font-family: 'LINESeedKR-Th';
    width: 70%;
}

.reveiw .part:nth-last-child(1){
  margin-bottom: 0;
  padding-bottom: 150px;
}

main .veiw{
   position: relative;
   margin: auto;
   padding-bottom: 400px;
   background-color: #1A1818;
}
main .veiw h2{
    width: 200px;
    height: 200px;
    line-height: 200px;
    border: solid 1px #2AF563;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 28px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
}
main .veiw h2 a{
    color: #2AF563;
    display: block;
    width: 100%;
    height: 100%;
}
main .veiw h2:hover{
    background-color: #2AF563;
    color: #2AF563;
}
main .veiw h2:hover a{
    color: #1A1818;
}

/* 공통하단 */

main .introduce{
  width: 100%;
  background-color: #1A1818;
  color: #2AF563;
  position: relative;
  z-index: 1;
 
}
main .introduce ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 
}
main .introduce .circle{
  width: 310px;
  height: 140px;
  border-radius: 50%;
  border: #2AF563 solid 1px;
  position: absolute;
  top:8%; right: 10%;
  
}

main .introduce .circle3 {
    transform: rotate(-2deg);
    animation: move3 1s ease-in infinite;
}

main .introduce .circle4 {
    transform: rotate(0deg);
    animation: move4 1s ease-in infinite;
}

main .introduce .circle_txt{
  font-size: 20px;
  position: absolute;
  top:17%; right: 11%;
  color: #2AF563;
}
main .introduce .circle_txt p {
    font-size: 20px;
}

@keyframes move3 {
    0% {
        transform: rotate(-2deg);
    }

    25% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(2deg);
    }

    75% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-2deg);
    }
}

@keyframes move4 {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(3deg);
    }

    50% {
        transform: rotate(6deg);
    }

    75% {
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

main .introduce ul li:nth-child(1) {
    font-family: 'MiConv.com__Fontspring-DEMO-tghaidogrotesk-black';
    font-size: 280px;
    font-weight: bold;
    color: #2AF563;
    text-align: center;
    width: 100%;
    height: 480px;
    line-height: 470px;
    border-top: #2AF563 1px solid;
    border-bottom: #2AF563 1px solid;


}

main .introduce ul li:nth-child(2),
main .introduce ul li:nth-child(3) {
    border-right: #2AF563 1px solid;
}

main .introduce ul li:nth-child(2),
main .introduce ul li:nth-child(3),
main .introduce ul li:nth-child(4) {
    width: calc(33.3333% - 1px);
    text-align: center;
    font-family: 'Fontspring-DEMO-tghaidogrotesk-semibold';
    font-size: 28px;
    height: 150px;
    line-height: 150px;
}

main .introduce ul li .new_type {
    font-family: 'LINESeedKR-Bd';
}

footer {
    background-color: #1A1818;
    color: #2AF563;
    border-top: #2AF563 solid 1px;
}

footer ul {
    display: flex;
    justify-content: space-between;
    height: 40px;
    line-height: 40px;
    margin: 0 10px;
}

.introduce ul .paper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
}

.introduce ul .paper ul li .sticker-hover {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 40%;
    top: 140%;
    margin: -150px 0 0 -250px;
    pointer-events: none;
}

.introduce ul .paper:hover .sticker {
    animation: full 5s ease-in-out;
}

@keyframes full {
    0% {
        transform: translateY(-1500%);
    }

    100% {
        transform: translateY(500%);
    }
}

.introduce ul .paper a {
    color: #2AF563;
}

.introduce ul .paper:hover a {
    color: white;
    transition: 6s ease-in-out;
    transform: scale(1.5);
}

.introduce ul .paper ul li .sticker-hover .sticker {
    transform: translateY(-250px);
}

.sticker-hover .sticker[data-type="1"][data-num="1"] {
    left: -100px;
    top: -60px;
    top: 0px;
    z-index: 1300;
    transform: translate(0px, 380px) rotate(80.94deg);
}

.sticker-hover .sticker[data-type="1"][data-num="1"] img {
    transform: rotate(-23deg);
}

.sticker-hover .sticker[data-type="1"][data-num="2"] {
    left: -95px;
    top: 151px;
    top: 0px;
    z-index: 1300;
    transform: translate(0px, 380px) rotate(-26.37deg)
}

.sticker-hover .sticker[data-type="1"][data-num="2"] img {
    transform: rotate(37deg);
}

.sticker-hover .sticker[data-type="1"][data-num="3"] {
    left: 473px;
    top: -51px;
    top: 0px;
    z-index: 1300;
}

.sticker-hover .sticker[data-type="1"][data-num="3"] img {
    transform: rotate(37deg);
}

.sticker-hover .sticker[data-type="1"][data-num="4"] {
    left: 163px;
    top: 70px;
    top: 0px;
    z-index: 100;
}

.sticker-hover .sticker[data-type="1"][data-num="4"] img {
    transform: rotate(37deg);
}

.sticker-hover .sticker[data-type="2"] {
    width: 250;
}

.sticker-hover .sticker[data-type="2"][data-num="1"] {
    left: 245px;
    top: -77px;
    top: 0px;
    z-index: 500;
}

.sticker-hover .sticker[data-type="2"][data-num="1"] img {
    transform: rotate(-40deg);
}

.sticker-hover .sticker[data-type="2"][data-num="2"] {
    left: 50px;
    top: 80px;
    top: 0px;
    z-index: 1300;
}

.sticker-hover .sticker[data-type="2"][data-num="2"] img {
    transform: rotate(20deg);
}

.sticker-hover .sticker[data-type="2"][data-num="3"] {
    left: 352px;
    top: 78px;
    top: 0px;
    z-index: 400;
}

.sticker-hover .sticker[data-type="2"][data-num="3"] img {
    transform: rotate(-2deg);
}

.sticker-hover .sticker[data-type="2"][data-num="4"] {
    left: 520px;
    top: 110px;
    top: 0px;
    z-index: 99;
}

.sticker-hover .sticker[data-type="2"][data-num="4"] img {
    transform: rotate(32deg);
}

.sticker-hover .sticker[data-type="2"][data-num="5"] {
    left: -250px;
    top: 90px;
    top: 0px;
    z-index: 99;
}

.sticker-hover .sticker[data-type="2"][data-num="5"] img {
    transform: rotate(-40deg);
}

.sticker-hover .sticker[data-type="3"] {
    width: 240px;
}

.sticker-hover .sticker[data-type="3"][data-num="1"] {
    left: 202px;
    top: 96px;
    top: 0px;
    z-index: 1300;
}

.sticker-hover .sticker[data-type="3"][data-num="1"] img {
    transform: rotate(-18deg);
}

.sticker-hover .sticker[data-type="4"] {
    width: 230px;
}

.sticker-hover .sticker[data-type="4"][data-num="1"] {
    left: 67px;
    top: 10px;
    top: 0px;
    z-index: 1300;
}

.sticker-hover .sticker[data-type="4"][data-num="1"] img {
    transform: rotate(40deg);
}

.sticker-hover .sticker[data-type="4"][data-num="2"] {
    left: -53px;
    top: 170px;
    top: 0px;
    z-index: 1300;
}

.sticker-hover .sticker[data-type="4"][data-num="2"] img {
    transform: rotate(35deg);
}

.sticker-hover .sticker[data-type="5"] {
    width: 240px;
}

.sticker-hover .sticker[data-type="5"][data-num="1"] {
    left: 232px;
    top: 195px;
    top: 0px;
    z-index: 1300;
}

.sticker-hover .sticker[data-type="5"][data-num="1"] img {
    transform: rotate(-30deg);
}

.sticker-hover .sticker[data-type="5"][data-num="2"] {
    left: 72px;
    top: -8px;
    top: 0px;
    z-index: 300;
}

.sticker-hover .sticker[data-type="5"][data-num="2"] img {
    transform: rotate(10deg);
}

.sticker-hover .sticker[data-type="5"][data-num="3"] {
    left: -280px;
    top: -8px;
    top: 0px;
    z-index: 300;
}

.sticker-hover .sticker[data-type="5"][data-num="3"] img {
    transform: rotate(30deg);
}

.sticker-hover .sticker[data-type="5"][data-num="4"] {
    left: 40px;
    top: -8px;
    top: -50px;
    z-index: 1300;
}

.sticker-hover .sticker[data-type="5"][data-num="4"] img {
    transform: rotate(-20deg);
}

.introduce ul>.paper:nth-child(3) {
    position: relative;
    overflow: hidden;
}

.introduce ul>.paper:nth-child(3) ul li .sticker3 img {
    position: absolute;
}


@keyframes falling {
    0% {
        top: -500px;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        top: 500px;
        /* 떨어질 최종 위치 설정 */
        opacity: 0;
    }
}

footer ul li {
    font-family: 'LINESeedKR-Rg';
    font-size: 16px;
    margin-right: 6px;
}

