
@font-face{
    font-family: 'Fontspring-DEMO-tghaidogrotesk-semibold';
    src: url(../fonts/Fontspring-DEMO-tghaidogrotesk-extrabold.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'Fontspring-DEMO-tghaidogrotesk-extrabold';
    src: url(../fonts/Fontspring-DEMO-tghaidogrotesk-extrabold.woff) format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'LINESeedKR-Th';
    src: url(../fonts/LINESeedKR-Th.woff2) format('woff2');
    font-weight: Thin;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'LINESeedKR-Rg';
    src: url(../fonts/LINESeedKR-Rg.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'LINESeedKR-Bd';
    src: url(../fonts/LINESeedKR-Bd.woff2) format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

